.header-container {
  background-color: silver;
  padding: 8px 16px;
  display: flex;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: space-between;
}
.header-title {
  font-size: 32px;
}
.header-stats {
  padding: 10px;
}