.stats-container {
  background: rgba(220, 247, 255, 0.8);
  border: 2px gray solid;
}

.stats-title {
  background-color: teal;
  color: white;
  padding: 10px;
}
.stat-item {
  display: flex;
  justify-content: space-between;
  border: 3px solid silver;
}
.stat-label {
  padding: 10px;
}
.stat {
  padding: 10px;
}